:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color-1:#1e232b;
  --bg-color-2:#3b4350;
  --text-color-1:#060b0b;
  --primary-color:#58b1bc;
  --secondary-color:#91d2db;
  --accent-color:#65c9d6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--accent-color);
}


.menu-screen {
  background-color: var(--bg-color-1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.game-title {
  font-size: 6rem;
}
.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-buttons button {
  background-color: var(--primary-color);
  width: 22rem;
  height: 6rem;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu-buttons button:hover {
  background: var(--accent-color);
}


.levels-screen {
  background-color: var(--bg-color-1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
.levels-screen-levels-area {
  background-color: var(--bg-color-2);
  height: 44rem;
  width: 72rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;
}
.level-area {
  margin: 1rem;
  width: 14rem;
  height: 14rem;
  background-color: rgb(92, 58, 92);
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
}
.levels-screen-buttons-area button{
  padding: 1rem;
  margin: 1rem;
  width: 12rem;
  height: 4rem;
}


.combat-screen {
  background-color: var(--bg-color-1);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.monster-and-player-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 12rem;
}
.monster-area {
  background-color: var(--bg-color-2);
  height: 44rem;
  width: 72rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.player-area {
  background-color: var(--bg-color-2);
  width: 72rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.player-area button {
  width: 12rem;
  height: 4rem;
}
.textbox-area {
  background-color: var(--bg-color-2);
  height: 54rem;
  width: 20rem;
}


.shop-screen {
  background-color: var(--bg-color-1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}